export STORE_ROOT="gs://..."
export PROJECT_NAME="YOUR_PROJECT_NAME"
export HG38_REF="gs://.../hg38.fa.gz"
export GP2_RELEASE="gs://..."
export GOOGLE_CLOUD_REGION="europe-west4"

# Following is not needed if running from VWB (Automatically set by VWB)
export GOOGLE_CLOUD_PROJECT="YOUR_GOOGLE_CLOUD_PROJECT"
export GOOGLE_SERVICE_ACCOUNT_EMAIL="YOUR_GOOGLE_SERVICE_ACCOUNT_EMAIL"

# Optional: Tower access token for monitoring jobs on the Tower web interface
# export TOWER_ACCESS_TOKEN="YOUR_TOWER_ACCESS_TOKEN"
