plugins {
  id 'nf-google'
}

trace {
    enabled = true
    overwrite = true
}
params {
  store_root = System.getenv('STORE_ROOT')
  project_name = System.getenv('PROJECT_NAME')
  reference_genome = System.getenv('HG38_REF')
  gp2_release = System.getenv('GP2_RELEASE')
  ancestries = (System.getenv('ANCESTRIES') ?: 'AAC,AFR,AJ,AMR,CAH,CAS,EAS,EUR,FIN,MDE,SAS').split(',') as List
  input_plink_pattern = "${params.gp2_release}/imputed_genotypes/{ancestry}/chr{chr}_{ancestry}_release11_vwb"
  bed_file = "${projectDir}/temp/GP2_combined.bed"
  score_file = [
    "${projectDir}/temp/GP2_allBetas_hg38_all_studies.score",
    "${projectDir}/temp/GP2_allBetas_hg38_biobank.score",
    "${projectDir}/temp/GP2_allBetas_hg38_case_control.score",
    "${projectDir}/temp/GP2_Nalls2019_hg38.score"
  ]
  gcs_work_dir = null
}

process {
  executor = 'google-batch'
  container = 'ghcr.io/hirotaka-i/long-gwas-pipeline:1.0.3'
  cpus = '4'
  memory = '16 GB'
  errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
  time = '2h'
}

docker {
  enabled = true
}

google {
  project = System.getenv('GOOGLE_CLOUD_PROJECT')
  location = System.getenv('GOOGLE_CLOUD_REGION')
  batch.bootDiskSize = '50 GB'
}

workDir = params.gcs_work_dir ?: (
  params.store_root && params.project_name
    ? "${params.store_root}/${params.project_name}/nextflow/work"
    : null
)

profiles {
    vwb {
        google {
            batch {
                serviceAccountEmail = System.getenv('GOOGLE_SERVICE_ACCOUNT_EMAIL')
                usePrivateAddress = true
                network = "projects/${System.getenv('GOOGLE_CLOUD_PROJECT')}/global/networks/network"
                subnetwork = "projects/${System.getenv('GOOGLE_CLOUD_PROJECT')}/regions/${System.getenv('GOOGLE_CLOUD_REGION')}/subnetworks/subnetwork"
            }
        }
    }
}
