plugins {
  id 'nf-google'
}

trace {
    enabled = true
    overwrite = true
}
params {
  store_root = System.getenv('STORE_ROOT')
  project_name = System.getenv('PROJECT_NAME')
  reference_genome = System.getenv('HG38_REF')
  gp2_release = System.getenv('GP2_RELEASE')
  input_plink = (1..22).collect { "${params.gp2_release}/imputed_genotypes/EUR/chr${it}_EUR_release11_vwb" }
  bed_file = "${projectDir}/temp/GP2_combined.bed"
  score_file = [
    "${projectDir}/temp/GP2_allBetas_hg38_all_studies.score",
    "${projectDir}/temp/GP2_allBetas_hg38_biobank.score",
    "${projectDir}/temp/GP2_allBetas_hg38_case_control.score",
    "${projectDir}/temp/GP2_Nalls2019_hg38.score"
  ]
  gcs_work_dir = null
}

process {
  executor = 'google-batch'
  container = 'ghcr.io/hirotaka-i/long-gwas-pipeline:1.0.3'
  cpus = '4'
  memory = '16 GB'
  errorStrategy = 'terminate'
  time = '2h'
}

docker {
  enabled = true
}

google {
  project = System.getenv('GOOGLE_CLOUD_PROJECT')
  location = System.getenv('GOOGLE_CLOUD_REGION')
}

workDir = params.gcs_work_dir ?: (
  params.store_root && params.project_name
    ? "${params.store_root}/${params.project_name}/nextflow/work"
    : null
)
